.card-header {
  padding: 10px 10px 10px 10px;

  .btn.btn-link {
    color: #000;
    font-size: 12px;

    &:hover {
      text-decoration: none;
    }
  }
}
.card-body {
  padding-left: 25px;
  font-size: 10px;
}
